.light-mode {
  background-color: #191942;
  color: #333;
  
}


.dark-mode {
  background-color: red;
  color: #191942;
}


.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 10px;
}

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-slider {
  position: relative;
  height: 24px;
  width: 48px;
  background-color: #ccc;
  border-radius: 12px;
}

.toggle-slider:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s;
}

.toggle-checkbox:checked + .toggle-slider:before {
  transform: translate(24px, -50%);
}