.contact-cont {
  /* background-color: aqua; */
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.content-cont {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}

.contact-form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #191943;
  border-radius: 5px;
  text-align: start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.form-contact {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  /* font-weight: bold; */
  margin-bottom: 5px;
  color: white;
  font-size: 0.9rem;
}

.contact-input{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #191943;
  border-radius: 3px;
}
.textarea-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #191943;
  border-radius: 3px;
}

.contact-submit {
  background-color: #fee60c;
  color: #191943;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-submit:hover{
   background-color:white;
    color: #191943;
}
.socialM {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  margin-right: 2rem;
  gap: 25px;
}
.cont-title {
  color:  #191943;
  margin: 0 0 2rem 0;


 
}
.loc {
  display: flex;
  gap: 10px;
  color: #191942;
  font-size: 1rem;
  margin: 1rem 0;
}
.iconss {
  display: flex;
  gap: 50px;
  align-items: start;
  text-align: start;
}
.soc {
  font-size: 1.7rem;
  color: #191942;
}
.soc1 {
  font-size:1rem;
  
}
@media (max-width:420px) {
.content-cont {
  display: flex;
 flex-direction: column;
 gap: 20px;

}
.contact-cont {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}


.contact-form {
  width: 270px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #191943;
  border-radius: 5px;
  text-align: start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.socialM {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  margin-right: 0rem;
  margin-left: 1rem;
  gap: 0px;
}
.cont-title {
  color:  #191943;
  margin: 0 0 0rem 0;

}
}