

.activationreminder {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.1rem;
}
.sidebar-outlettt {
  display: grid;
  grid-template-columns: 18% 1fr;
}
.outlettt {
  background-color: white;
  max-height: 80vh;
  overflow-y: auto;
}
@media (max-width:1200px) {
  .sidebar-outlettt {
  display: grid;
  grid-template-columns: 1fr;
}
}

@media (max-width:980px) {
  .sidebar-outlettt {
  display: grid;
  grid-template-columns: 1fr;
}
}

@media (max-width:768px) {
  .sidebar-outlettt {
  display: grid;
  grid-template-columns: 1fr;
}
}


@media (max-width:420px) {
  .sidebar-outlettt {
  display: grid;
  grid-template-columns: 1fr;
}
}