.header-textt {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0.7rem 1.7rem;
  align-items: center;
  border-bottom: 1px solid #fee60c;
}
.modal-overlay {
  position: absolute;
  margin-top: 41rem;
  margin-left: 14.5rem;
  z-index: 3;
}

.withdrawBtn {
  background-color: #fee60c;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
}

.headerpart1 {
  align-items: center;
  display: flex;
}

.logohead {
  display: flex;
  align-items: start;
}
.logohead .menu-icon {
  margin-left: 5rem;
  font-size: 3rem;
}

.header-text2 {
  align-items: center;
  gap: 2rem;
  display: flex;
}
@media (max-width:420px) {
 .logohead{
  display: flex;
  gap: 10px;
 } 
 .logohead h1{
  font-size: 30px;
 }
 .logohead .menu-icon {
  margin-left: 1rem;
  font-size: 3rem;
}
}